body{
    font-family: 'Arial Narrow', cursive, sans-serif;
}

#wrapper{
    margin: 0 auto;
    padding: 0 2%;
}

#banner{
    background-image: url('../images/banner.jpg');
    padding: 2%;
    color: white;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    opacity: 0.4;
    color: white;
    text-decoration: none;
}

#header-img-1{
    display: inline;
    width: 8%;
    height: 4%;
    border-radius: 100%;
}

#headertext{
    display: inline;
    font-size: 40px;
}

#header-img-2{
    display: inline;
    width: 8%;
    height: 4%;
    border-radius: 100%;
}

aside{
    width: 100%;
    height: inherit;
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;
    padding: 7px;
}

#main-img{
    width: 100%;
    height: 100%;
}

#main-img2{
    width: 100%;
    height: 100%;
}

#sign-up-form{
    width: 100%;
    height: inherit;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 15px;
    float: right;
    clear: both;
}

input{
    width: inherit;
    height: 30px;
    border-radius: 10px;
}

#submitButton:hover{
    background-color: grey;
}

#form-header{
    text-align: center;
}

    /* styling of the navigation and dropdown starts here */

nav{
    text-align: center;
}

    /* styling of the footer starts here */

footer{
    clear: both;
    padding-top: 5px;   /* adds spacing within the footer to push contents downwards and make them be in the middle */
}

#footer-list{
    display: inline-block;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

footer ul li{
    display: inline;
}

footer a{
    color: white;
    padding: 7px;
    text-decoration: none;
}
footer a:hover{
    color: grey;
    text-decoration: none;
}

#copyright{
    color: white;
    display: inline;
    clear: both;
}
    /* styling of footer ends here. */

    /* styling of News page starts here */

#trending{
    width: 350px;
    height: inherit;
    background-color: #ccc;
    border-radius: 10px;
}

#general{
    width: 650px;
    height: inherit;
    background-color: #ccc;
    border-radius: 10px;
}

#ads{
    width: 200px;
    height: inherit;
    background-color: #ccc;
    border-radius: 10px;
}

    /* styling of News page ends here */

    /* styling of the log in page starts here */

fieldset{
    background-color: #bbb;
    display: block;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin-left: 30%;
    border-radius: 10px;
}

fieldset h1{
    text-align: center;
    font-weight: bold;
}

fieldset form input{
    width: 100%;
}

#log-in-form{
    padding: 10px;
}

#log-in-button{
    width: inherit;
}

#log-in-button:hover{
    background-color: grey;
}

#log-in-form a{
    color: black;
}
#log-in-form a:hover{
    opacity: 0.5;
}
    /* styling of the log in page ends here */

    /* styling of contact page starts here. */

#contact-page-form{
    padding: 10px;
    margin-bottom: 5px;
    height: inherit;
}

#contact-page-form textarea{
    width: 100%;
    height: 200px;
}

#contact-submit{
    width: inherit;
}

#contact-submit:hover{
    background-color: grey;
}
    /* styling of the contact page ends here */

    /* styling of Our Members page starts here */

#row1 img{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 15px;
}

#row2 img{
    width: 100%;
    height: 100%;
    margin: 2px;
    border: 3px solid black;
    border-radius: 15px;
}

#row3 img{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 15px;
}

#row4 img{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 15px;
}
    /* styling of Our Members page ends here */

#members-slider{
    width: 300px;
    height: 400px;
}

#carousel-slider img{
    width: 300px;
    height: 400px;
}